
*.ipch
*.db-wal
*.opendb
*.db
*.db-shm
*.vsidx
.vs/CouchDevel/v17/.suo
*.tlog
*.obj
*.log
x64/Debug/CouchDevel.exe
*.recipe
*.ilk
*.pdb
x64/Debug/CouchDevel.vcxproj.FileListAbsolute.txt
*.idb
.vs/CouchDBPP/v17/.suo
